@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.description {
    width: 600px;
    height: 150px;
}


/*Start region: View menu section*/

.view_menu_container {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-container {
    display: flex;
    margin: 10px;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.25);
    padding: 15px 15px;
    align-content: center;
    flex-wrap: wrap;
}

#itemPicture {
    width: 100%;
    height: 75%;
}
.bottom {
    display: flex;
    flex-direction: row;
    flex-basis: 1;
}
.view_order_container {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.itemcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.option-titles {
    font-family: 'Inter',sans-serif;
}
.t, r, h {
    width: 60%;
    border-collapse: collapse;
 
    font-size: x-large;
  
}
.trh {
    background: rgba(229, 110, 94, 0.4);

}

 input {
        background-color: rgba(229, 110, 94, 0.4);
 }
h1{
    font-size:xx-large;
    font-weight:900;
}
#line{
    display:inline;
}
#Picture {
    width: 25%;
    height: 25%;
}
#dsh, #dsh1,#dsh2{
    width:50%
}
